body {background: #CCCCCC;}

p {color: #000000}

a:link {text-decoration: none; color:#000000;}

a:visited {text-decoration: none; color:#000000;}

a:hover {text-decoration: underline;color:#000000;}

a:active {text-decoration: none;}

.style1 {color: #FF0000;font-weight: bold;}

.style2 {color: #0000FF;font-weight: bold;}

.style3 {color: #FFFFFF;font-weight: bold;}

div#Geral {
	background:#FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	width: 100%;
	height: auto;
	margin-top:0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	box-shadow: #000 2px 2px 1px;
}

div#Topo {
	text-align: center;
	background-color: #006699;
	height: 120px;
	font-size: 36px;
	color: #FFFFFF;
	font-weight: bold;
}

div#Menu {
	float: left;
	width: 160px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-color: #006699;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	background-color: #f1f1f1;
}

div#Menu a{
	display: block;
}

div#Menu a:hover{	
	border-right-style: solid;
	border-right-color: #FF0000;
	background: #CCCCCC;
}

div#Comunicacao{
	float: right;
	width: 160px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-color: #006699;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	background-color: #f1f1f1;
}

div#Comunicacao a{
	display: block;
}

div#Comunicacao a:hover{	
	border-right-style: solid;
	border-right-color: #FF0000;
	background: #CCCCCC;
}

div#Conteudo {
	text-align:justify;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	height: auto;
}

div#Slogan {
	clear: both;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
}

div#Contato {
	width: 500px;
	float: left;
}

div#Endereco {
	width: 500px;
	padding-right: 25px;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	float: right;	
}

div#Direitos {
	width: 500px;
	padding-right: 25px;
	font-size: 12px;
	text-align: right;
	color: #FFFFFF;
	float: right;
}

div#Rodape{
	text-align: center;
	background-color: #006699;
	clear: both;
	height: 100px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
}

.Listas {
	margin: 0;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 0px;
	list-style: none;
}

ul.barNav {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0x; 
	height: 25px;
}

ul.barNav li {
	list-style: none;	
	display: inline;
}

ul.barNav li a {
	float: left;
	border-top: 0.1em solid #fff;
	border-right: 0.1em solid #909090;
	border-bottom: 0.1em solid #909090;
	border-left: 0.1em solid #fff;
	width: 80px;
	font: 0.68em  Verdana, Arial, Helvetica, sans-serif;
	background: #f1f1f1;
	color: #333;
	text-align: center;
	padding: 2px;
	text-decoration: none;
}

ul.barNav a:hover{
	background: #999;
	color: #fff;
	border-color: #000 #fafafa #fafafa #000;
}

div#curriculo{
	padding-left: 20px;
	padding-right: 20px;
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	background:#FFFFFF;
	width: 800px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 0px;
	box-shadow: #000 2px 2px 1px;
}

*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
}

.menu li{
position:relative;
float:left;
border-right:1px solid #c0c0c0;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:#fff;
display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:150px;
}

/* INICIO DO FORMULÁRIO */
*{ margin:0; padding:0;}

body{ font:100% normal Arial, Helvetica, sans-serif; background:#161712;}

form,input,select,textarea{margin:0; padding:0; color:#000000;}

div.box {
    margin:0 auto;
    width:500px;
    background:#ffffff;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

div.box h1 {
    color:#030303;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box label {
    width:100%;
    display: block;
    background:#ffffff;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#000000;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#ffffff;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}

div.box .message{
    padding:7px 7px;
    width:350px;
    background:#ffffff;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
    overflow:hidden;
    height:150px;
}

div.box .button{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#96aaff;
    border:0px;
    position: relative;
    top:10px;
    left:382px;
    width:100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left:1px double #FF0033;
    border-right:1px double #FF0033;
}