#geral {
	width: 100%;
	height: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#cabecalho {
	text-align: left;
}

#logo {
	text-align: center;
}

#texto-logo {
	color: #000000;
	text-align: center;
}

#conteudo {
	margin-left: 170px;
	margin-right: 170px;
	margin-top: 30px;
	height: auto;
}

#secao1 {
	background-color: rgba(205, 206, 202, 0.856);
	text-align: center;
}

#secao2 {
	background-color: #5a77c7;
	text-align: center;
}

#artigo1 {
	background-color: #000000;
	text-align: center;
}

#artigo2 {
	background-color: #33335c;
	text-align: center;
}

#Slogan {
	clear: both;
	font-size: 24px;
	text-align: center;
	color: #ff0000;
	background-color: #b1fd00;
}

#contato {
	padding-left: 25px;
	width: 500px;
	font-size: 20px;
	float: left;
}

#endereco {
	padding-right: 25px;
	width: 500px;
	font-size: 20px;
	text-align: right;
	color: #FFFFFF;
	float: right;
	
}

#direitos {
	width: 500px;
	padding-right: 25px;
	font-size: 20px;
	text-align: right;
	color: #FFFFFF;
	float: right;
}

#rodape {
	text-align: center;
	background-color: #000000;
	clear: both;
	height: 100px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
}

#rodape1 {
	text-align: center;
	background-color: #3c3c3d;
	color: #FFFFFF;
}

.Listas {
	margin: 0;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 0px;
	list-style: none;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000000;
}

a:active {
	text-decoration: none;
}

.style1 {
	color: #FF0000;
	font-weight: bold;
}

.style2 {
	color: #0000FF;
	font-weight: bold;
}

.style3 {
	color: #FFFFFF;
	font-weight: bold;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}